* {
  font-family: Quicksand;
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

body {
  background-image: url("images/thyme.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.add-ingredient{
  display: flex;
}







/*~~~~~~~~Nav Bar~~~~~~~~*/

nav {
  align-items: flex-end;
  background-image: linear-gradient(#2F9056, #65b87e);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.nav-button {
  background-color: #c2e2c3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 3px -3px 6px rgb(56, 117, 70);
  cursor: pointer;
  padding: 15px;
}

h1 {
  font-size: 44px;
  margin-top: 50px;
  text-align: center;
}

/*~~~~~~~~My Recipes~~~~~~~~*/
.my-recipes-flexbox {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.my-recipes-box {
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: 600px;
  margin-top: 50px;
  padding-top: 40px;
  width: 600px;
}

#recipe-search-input {
  background-color: #c2e2c3;
  border: 0;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(197, 203, 212);
  box-shadow: -1px -1px 4px rgb(197, 203, 212);
  font-size: 18px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 10px;
  text-align: center;
  width: 200px;
}

.my-recipes-title {
  margin-bottom: 20px;
}

.list-item {
  margin: 20px;
}

.trashcan {
  cursor: pointer;
  height: 22px;
  margin-left: 5px;
  padding-top: 26px;
}

.trashcan:hover {
  height: 25px;
}

.pantry-list,
.shopping-list,
.favorite-recipes-list,
.recipes-to-cook-list{
  cursor: pointer;
  overflow-y: scroll;
}

.clear-filter-Btn,
#view-recipe-btn{
  background-image: linear-gradient(#2F9056, #65b87e);
  border-radius: 6px;
  border: none;
  box-shadow: 2px -2px 6px rgb(181, 183, 186);
  font-size: 20px;
  height:30px;
  margin-top: 10px;
  width: 140px;
}

.clear-filter-Btn:hover,
#view-recipe-btn:hover,
.carousel__slide:hover,
.view-recipe-btn:hover,
.trashcan:hover {
  cursor: pointer;
}

/*~~~~~~~~Recipe Card Section~~~~~~~~*/

.card-section-title {
  font-size: 24px;
  margin: 20px;
}

.cost-info-section {
  display: flex;
  margin-top: 30px;
}

.recipe-cost {
  font-size: 20px;
}

.add-ingredients-btn {
  background-image: linear-gradient(#2F9056, #65b87e);
  border: none;
  border-radius: 6px;
  box-shadow: 2px -2px 6px rgb(181, 183, 186);
  cursor: pointer;
  height: 32px;
  width: 150px;
}

.add-ingredients-btn:hover {
  height: 34px;
  width: 160px;
}

.saved-recipe-box,
.save-buttons {
  display: flex;
}

.recipes-to-save-btn {
  background-image: linear-gradient(#2F9056, #65b87e);
  border: none;
  border-radius: 6px;
  box-shadow: 2px -2px 6px rgb(181, 183, 186);
  cursor: pointer;
  height: 50px;
  margin: 50px;
  width: 150px;
}

.recipes-to-save-btn:hover {
  height: 55px;
  width: 165px;
}


/*~~~~~~~~Carousel~~~~~~~~*/

.search-bar{
  border-radius: 10px;
  font-size: 30px;
  height: 45px;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.mag-btn{
  border-radius: 10px;
  cursor: pointer;
  height: 45px;
}

.mag-btn:hover{
  background-image: linear-gradient(#2F9056, #65b87e);
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.magnifier-icon{
  background-image: url("images/magnifying-glass.png");
  width:30px;
}

.main{
  align-items: center;
  display:flex;
  flex-direction: column;
}

.homepage-actions{
  align-items: center;
  background-color: rgba(255,255,255, .5);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 50%;
}

.carousel__track-content{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel__slide{
  border-radius: 100%;
  height: 130px;
  width: 130px;
}

.carousel__button{
  height: 20px;
  width: 20px;
}

.carousel__button:hover{
  background-color: #c2e2c3;
  height: 30px;
  margin: 5px;
  width: 30px;
}

.carousel__list{
  list-style: none;
  margin: 15px;
}

.carousel__track{
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width:50%;
}

/*~~~~~~~~Recipe Select Page~~~~~~~~*/
.recipe-select-box {
  background: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  width: 90vw;
}

.recipe-select-name {
  font-size: 30px;
  text-align: left;
}

.recipe-pic {
  height: 100px;
  width: 100px;
}

.recipe-select-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.recipe-content-box {
  display: flex;
}

.recipe-select-ingredient {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}


/*~~~~~~~~Display~~~~~~~~*/

.display-recipe{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-card{
  background: rgba(255, 255, 255, 0.7);
  width: 80vw;
}

.cost-info-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe-card-ingredients{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.instructions-list{
  margin-left: 20px;
  width: 100%;
}

.instruction{
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
