* {
  font-family: Quicksand;
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

body {
  background-image: url("images/thyme.png");
  background-size: cover;
  background-repeat: no-repeat;

}

/*~~~~~~~~Nav Bar~~~~~~~~*/

nav {
  /* background-color: #2F9056; */
  background-image: linear-gradient(#2F9056, #65b87e);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 10px;
}

.nav-button {
  background-color: #c2e2c3;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 3px -3px 6px rgb(56, 117, 70);
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 44px;
}

/*~~~~~~~My Recipe~~~~~~~*/

.my-recipes-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-recipes-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  height: 600px;
  width: 600px;
  margin-top: 50px;
  padding-top: 40px;
  font-size: 24px;
  border-radius: 10px;
}

.search-box {
  display: flex;
  margin-top: 60px;
}

#recipe-search-input {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  border: 0;
  text-align: center;
  background-color: #c2e2c3;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(197, 203, 212);
  box-shadow: -1px -1px 4px rgb(197, 203, 212);
}

.my-recipes-title {
  margin-bottom: 20px;
}

.list {
  padding-top: 50px;
  list-style: none;
}

.list-item {
  margin: 20px;
}

.trashcan {
  height: 22px;
  padding-top: 26px;
  margin-left: 5px;
  cursor: pointer;
}

.favorite-recipes-list,
.recipes-to-cook-list{
  cursor: pointer;
  overflow-y: scroll;
}

/* Recipe Card Section */

.card-section-title {
  font-size: 24px;
  margin: 20px;
}

.cost-info-section {
  display: flex;
  margin-top: 30px;
}

.recipe-cost {
  font-size: 20px;
}

.add-ingredients-btn {
  cursor: pointer;
  background-color: #c2e2c3;
  width: 150px;
  height: 32px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px -2px 6px rgb(181, 183, 186);
}

.add-ingredients-btn:hover {
  height: 34px;
  width: 160px;
}

.saved-recipe-box {
  display: flex;
}

.save-buttons {
  display: flex;
}

.recipes-to-save-btn {
  cursor: pointer;
  background-color: #c2e2c3;
  height: 50px;
  width: 150px;
  margin: 50px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px -2px 6px rgb(181, 183, 186);
}

.recipes-to-save-btn:hover {
  height: 55px;
  width: 165px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~Carousel~~~~~~~~~~~~~~~~~~~*/
.search-bar{
  height: 45px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  justify-content: center;

}
.mag-btn{
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.mag-btn:hover{
  background-color: #c2e2c3;
  height: 50px;
  width: 50px;
}

.magnifier-icon{
  width:30px;
  background-image: url("images/magnifying-glass.png");
}

.main{
  display:flex;
  flex-direction: column;
  align-items: center;
}


.homepage-actions{
  background-color: rgba(255,255,255, .5);
  height: 600px;
  width: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carousel{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 60px;
}

.carousel__track{
  display: flex;
  flex-direction: row;

}
.carousel__track-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel__heading{
  text-align: center;
  margin: 0px;
}

.carousel__slide{
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.carousel__button{
  width: 20px;
  height: 20px;
}

.carousel__button:hover{
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: #c2e2c3;
}

.carousel__list{
  list-style: none;
  margin: 15px;
}

.carousel__nav{
  display: flex;
  justify-content: center;
}

.carousel__indicator{
  height:10px;
  width: 20px;
}

.carousel__track{
  overflow-x: scroll;
  display: flex;
  align-items: center;
  width:50%;
}

/* Recipe Select Page */

.recipe-select-box {
  background: rgba(255, 255, 255, 0.7);
  width: 90vw;
  margin-left: 30px;
}

.recipe-select-name {
  text-align: left;
  font-size: 30px;
}

.recipe-pic {
  width: 100px;
  height: 100px;
}

.recipe-select-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.recipe-content-box {
  display: flex;
}

.recipe-select-ingredient {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#show-recipe-button {
  cursor: pointer;
  background-color: #c2e2c3;
  height: 30px;
  width: 130px;
  margin-left: 1000px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px -2px 6px rgb(181, 183, 186)
}

#show-recipe-button:hover {
  height: 32px;
  width: 135px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Display~~~~~~~~~~~~~~~~~*/
.display-recipe{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe-card{
  background: rgba(255, 255, 255, 0.7);
  width: 80vw;
}

.cost-info-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe-card-ingredients{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.instructions-list{
  width: 100%;
  margin-left: 20px;
}

.instruction{
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
